* {
    font-family: Oswald;
    box-sizing: border-box;
    --main: #ded6c5;
    --secondary: #683f34;
    --tertiary: #fd605b;
    --text: #1D2023;
}

.header, .footer {
    background-color: var(--secondary);
}

.footer h2 {
    color: var(--main);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 25px;
    color: var(--text);
}

.Andres {
    color: var(--main);
}

.header nav {
    float: right;
    margin-left: 20px;
}

.header nav ul {
    list-style-type: none;
    color: var(--tertiary);
}

.header nav ul li {
    border-style: solid;
    background-color: var(--tertiary);
    width: 30%;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 40px;
    border-radius: 30px;
}

.header nav ul li:hover {
    background-color: var(--text);
    text-decoration: none;
}

.header nav ul li a, a:visited {
    color: var(--main);
    font-weight: bold;
    text-decoration: none;
}

.resume {
    padding-bottom: 10px;
    color: var(--text);
}

.contact a, .resume a, .resume h2 {
    color: var(--text);
}

.me {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/311324380_516899916576237_6413785812201432744_n.jpg");
    /* Background image is a photo of myself, Marcelo Andres Perez. */
    background-size: cover;
    background-position: center;
}

.content {
    background-color: var(--main);
}

.content h2 {
    margin-left: 20px;
    color: var(--text);
}

.content p {
    margin-left: 40px;
    color: var(--text);
}

.posts {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-color: var(--secondary);
}

.posts a {
    position: relative;
    text-align: center;
    color: var(--main);
}

.img-1,
.img-2,
.img-3 {
    height: 400px;
}

.post-1 {
    flex: 2 0 0;
    flex-basis: 100%;
    position: relative;
    background-color: var(--secondary);
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
}

.post-2, .post-3 {
    flex: 1 0 0;
    position: relative;
    background-color: var(--secondary);
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
}

.post-1:hover, .post-2:hover, .post-3:hover {
    background-color: var(--tertiary);
    text-decoration: none;
}

.post-1 h3, .post-2 h3, .post-3 h3, .post-1 a {
    position: relative;
    top: 2px;
    color: var(--main);
}

.img-1, .img-2, .img-3 {
    border-radius: 10px;
}