* {
    font-family: Oswald;
    /* Linked the new font in the CSS */
    box-sizing: border-box;
    --main: #ded6c5;
    --secondary: #683f34;
    --tertiary: #fd605b;
    --text: #1D2023;
}

.header,
.footer {
    background-color: var(--secondary);
}

.footer h2 {
    color: var(--main);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 25px;
    padding-bottom: 80px;
    color: var(--text);
}

.Andres {
    color: var(--main);
}

.header nav {
    align-items: flex-end;
    float: right;
    margin-left: 20px;
}

.header nav ul {
    list-style-type: none;
    color: var(--tertiary);
    padding-right: 30px;
}

.header nav ul li {
    border-style: solid;
    background-color: var(--tertiary);
    width: 100%;
    display: flow-root;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 40px;
    border-radius: 30px;
}

.header nav ul li:hover {
    background-color: var(--text);
    text-decoration: none;
}

.header nav ul li a,
a:visited {
    color: var(--main);
    font-weight: bold;
    text-decoration: none;
}

.resume {
    padding-bottom: 10px;
    color: var(--text);
}

.contact a,
.resume a,
.resume h2 {
    color: var(--text);
}

.me {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/311324380_516899916576237_6413785812201432744_n.jpg");
    /* Background image is a photo of myself, Marcelo Andres Perez. */
    background-size: cover;
    background-position: center;
}

.content {
    background-color: var(--main);
}

.about-me {
    padding-top: 20px;
}

.content h2 {
    margin-left: 20px;
    color: var(--text);
}

.content p {
    margin-left: 40px;
    color: var(--text);
}

.posts {
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-color: var(--secondary);
}

.posts a {
    position: relative;
    text-align: center;
    color: var(--main);
}

.img-1 {
    max-width: 1600px;
    /* The max width here is different from the second and third image so that it is larger than images 1 and 2. */
}

.img-2,
.img-3 {
    max-height: 400px;
    max-width: 800px;
}

.post-1 {
    flex: 2 0 0;
    /* Used flex to make this first post become twice the size of the others */
    flex-basis: 100%;
    position: relative;
    background-color: var(--secondary);
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
}

.post-2,
.post-3 {
    flex: 1 0 0;
    position: relative;
    background-color: var(--secondary);
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
}

.post-1:hover,
.post-2:hover,
.post-3:hover {
    background-color: var(--tertiary);
    text-decoration: none;
}
/* Added hover to change the background color when hovering over the element */

.post-1 h3,
.post-2 h3,
.post-3 h3,
.post-1 a {
    position: relative;
    top: 2px;
    color: var(--main);
}

.img-1,
.img-2,
.img-3 {
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .about-me {
        margin-right: 15px;
    }
    /* The only thing that seemed out of place at this size was the the text in the about me section text was too close to close to the right side of the page so I added a margin */
    .img-1 {
            max-width: 850px;
    }
    .img-2,
    .img-3 {
        max-width: 425px;
    }
    /* Added differing max widths to ensure that the first image stays larger. */
}

@media screen and (max-width: 768px) {
    .img-1, 
    .img-2, 
    .img-3 {
        max-width: 700px;
    }
    /* The images were taking up too much space at this width so I reduced the size of the images. */
}

@media screen and (max-width: 576px) {
    .img-1,
    .img-2,
    .img-3 {
        max-width: 500px;
    }
    /* I used the same fix for the images as at 768px, however now the nav bar is not positioned correctly. */
    .header nav {
        margin-left: -20px;
    }
    /* This fixed the issue of the nav bar dropping down below the header. */
}